<div class="container-fluid">
<div class="text-primary">test</div>
<button class="btn kj-btn-primary">Test</button>
<button class="btn kj-btn-secondary">Test</button>
<button class="btn kj-btn-info">Test</button>
<button class="btn kj-btn-danger">Test</button>
<button class="btn kj-btn-primary-back">
    <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="5" height="10" viewBox="0 0 5 10" fill="none">
        <path d="M4 9L0 5L4 1" stroke="#4661E6" stroke-width="2"/>
      </svg>
      Go Back</button>
<button class="btn kj-btn-secondary-back">
    <svg xmlns="http://www.w3.org/2000/svg" width="5" height="10" viewBox="0 0 5 10" fill="none">
        <path d="M4 9L0 5L4 1" stroke="#CDD2EE" stroke-width="2"/>
      </svg>
      Go Back</button>
<h1 class="kj-h1">testh1</h1>
<h2 class="kj-h2">testh1</h2>
<h3 class="kj-h3">testh1</h3>
<h4 class="kj-h4">testh1</h4>

<p class="kj-body1">
    Body 1 - Jost Regular | 16px; 23px Line
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.
    In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor
    libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis.
</p>

<p class="kj-body2">
    Body 2 - Jost Regular | 15px; 22px Line
    Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus
    libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed
    semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien
    ornare nisl. Phasellus pede arcu
</p>

<p class="kj-body3">
    Body 3 - Jost Semibold | 13px; 19px Line
    Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus
    libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed
    semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien
    ornare nisl. Phasellus pede arcu
</p>
</div>